.UpdateUser{
    margin-top: 50px;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FormUA{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.FormUA--layout{
    display: flex;
    padding: 20px;
    justify-content: center;
    width: 100%;
}

.FormUA--labels{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 20%;
}

.FormUA--inputs{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    width: 40%;
}

.FormUA--label{
    margin-top: 19px;
    font-size: 1.5rem;
}
.FormUA--input{
    margin-top: 10px;
    width: 100%;
    font-size: 1.5rem;
    padding: 5px 0;
}

.FormUA--select{
    margin-top: 10px;
    padding: 5px 0;
    width: 100%;
}


.FormUA--button{
    width: 100%;
    padding: 10px;
    font-size: 2rem;
}

@media screen and (min-width: 319px) {
    .FormUA--layout{
        width: 90%;
    }
    .FormUA--inputs{
        width: 100%;
    }
    .FormUA--button{
        width: 80%;

    }
  }
  
  @media screen and (min-width: 767px) {
    .FormUA--layout{
        width: 90%;
    }
    .FormUA--inputs{
        width: 55%;
    }
    .FormUA--button{
        width: 60%;
        padding: 10px;
    }
  }